@use '@styles/_config.scss' as *;

.header-nav {
  display: none;
  gap: 2.5rem;
  align-items: center;

  @include mq('tablet') {
    display: flex;
  }

  &__item {
    font-size: 1.4rem;

    &--active {
      padding-bottom: 0.6rem;
      border-bottom: 0.2rem solid var(--color-dark);
      font-weight: 500;
    }
  }

  &__link {
    color: var(--color-gray);

    &:hover {
      color: var(--color-dark);
      transition: 0.3s;
    }
  }
}