@use '@styles/_z-indexes.scss' as *;
@use '@styles/_colors.scss' as *;
@use '@styles/_variables.scss' as *;

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-header;
  border-bottom: 1px solid $color-transparent;

  height: $header-height;
  width: 100%;
  padding: 2rem 2.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: $color-white;

  .logo {
    font-size: 1.6rem;
    letter-spacing: 0.3rem;
    cursor: pointer;
    transition: transform 0.3s ease;
    color: $color-dark;

    &:hover {
      transform: scale(1.1);
    }

    .noko {
      font-weight: 300;
    }

    .studio {
      font-weight: 500;
    }
  }

  &__logo-and-social {
    display: flex;
    gap: 1.5rem;

    .socials {
      display: flex;
      gap: 1rem;
      cursor: pointer;

      svg {
        transition: 0.3s ease;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}

li {
  font-size: 1.4rem;

  &.link--active {
    padding-bottom: 0.6rem;
    border-bottom: 0.2rem solid $color-dark;
    font-weight: 500;
  }

  a {
    color: $color-gray;

    &:hover {
      color: $color-dark;
      transition: 0.3s;
    }
  }
}