@use '@styles/_config.scss' as *;

.floating-phone {
  position: fixed;
  bottom: 2.4rem;
  right: 2.4rem;
  width: 6.4rem;
  height: 6.4rem;
  background-color: var(--color-green);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  z-index: var(--z-critical);
  transition: transform 0.3s ease, background-color 0.3s ease;
  transform: translateY(calc(var(--cookie-height, 0px) * -1)) scale(var(--hover-scale, 1));

  svg {}

  &:hover {
    --hover-scale: 1.1;
    background-color: color-mix(in srgb, var(--color-green), black 10%);
  }

  @include mq(tablet) {
    bottom: 3.2rem;
    right: 3.2rem;
  }
}