$color-white: #fff;
$color-light: oklch(96% .005 240);
$color-dark: oklch(16% 0 0);
$color-gray: oklch(48% .005 240);
$color-light-gray: oklch(78% .005 240);
$color-dark-blue: #09131a;
$color-transparent: oklch(0.16 0 0 / 0.10);

