@use '@styles/_breakpoints.scss' as *;
@use '@styles/_typography.scss' as *;
@use '@styles/_colors.scss';
@use '@styles/_variables.scss';
@use '@styles/_z-indexes.scss';

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Montserrat Variable", "Montserrat", ui-sans-serif, system-ui, sans-serif;
  font-size: 10px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}