// 1. Narzędzia podstawowe
@use './reset.scss';

// 2. Mixiny z konfiguracji (dla ew. globalnych reguł w tym pliku)
@use './breakpoints.scss' as *;

// 3. Zmienne (Tokens & Variables)
@use './variables.scss';

// 4. Podstawowe style globalne
body {
  font-family: var(--font-sans);
}

// 5. Pomocnicze klasy
.container-page {
  width: 100%;
  max-width: var(--container-max-width);
  margin-inline: auto;
  padding-inline: var(--container-padding);
}