@use '@styles/_breakpoints.scss' as *;
@use '@styles/_colors.scss' as *;
@use '@styles/_variables.scss' as *;

.hero {
  position: relative;
  min-height: var(--hero-height, calc(100dvh - #{$header-height}));
  width: 100%;
  overflow: hidden;

  &__bg {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &__overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.65);
  }

  &__content {
    position: relative;
    z-index: 10;
    margin: 0 auto;
    display: flex;
    height: 100%;
    max-width: 1600px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 1.2rem 2rem 1.2rem;
    text-align: center;
  }

  &__pretitle {
    margin-top: 6.4rem;
    color: rgba(255, 255, 255, 0.85);
  }

  &__title {
    color: $color-white;

    @include mq('tablet') {
      font-size: 7.2rem;
    }

    @include mq('desktop') {
      font-size: 8rem;
    }
  }

  &__desc {
    margin-top: 3.2rem;
    max-width: 57.6rem;
    color: rgba(255, 255, 255, 0.85);
  }

  &__actions {
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
  }
}