@use '@styles/_breakpoints.scss' as *;

.hero {
  --section-pretitle-color: rgba(255, 255, 255, 0.85);
  --section-title-color: #{var(--color-white)};
  --section-desc-color: rgba(255, 255, 255, 0.85);

  position: relative;
  min-height: var(--hero-height, calc(100dvh - #{var(--header-height)}));
  width: 100%;
  overflow: hidden;

  &__bg {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &__overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.65);
  }

  &__content {
    position: relative;
    z-index: var(--z-elevated);
    margin: 2rem auto;
    display: flex;
    min-height: var(--hero-height, calc(100dvh - #{var(--header-height)}));
    max-width: 1600px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 1.2rem 2rem 1.2rem;
    text-align: center;
  }

  &__header {
    margin-top: 6.4rem;

    // Magia CSS - nadpisujemy zmienną H1 lokalnie, dzięki czemu nagłówek staje się gigantyczny (Display)
    --text-h1: var(--text-display);

    max-width: 57.6rem;
  }

  &__actions {
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
  }
}