@use '@styles/_breakpoints.scss' as *;

.header-menu-mobile {
  @include hide-on(tablet, desktop, wide);

  &[open] {
    .icon-menu {
      transform: rotate(90deg);
    }
  }

  .icon-menu {
    transition: 0.3s;
    cursor: pointer;
  }

  summary {
    user-select: none;
    -webkit-user-select: none;
    outline: none;
    list-style: none;

    &::marker,
    &::-webkit-details-marker {
      display: none;
      content: '';
    }
  }

  &__link-wrapper {
    position: absolute;
    width: 100vw;
    left: 0;
    top: var(--header-height);
    border-bottom: 1px solid var(--color-transparent);
    z-index: var(--z-header);
    background-color: var(--color-white);

    li {
      text-align: center;
      padding: 10px;
      border: none;

      &.link--active {
        color: var(--color-dark);
        font-weight: 500;

        a {
          padding-bottom: 4px;
          border-bottom: 2px solid var(--color-dark);
        }
      }
    }
  }
}
